
<!-- header -->
<div class="wrapBox">
    <!-- topbox -->
    <div class="topBox">
    	<div class="leftTop">
    		<a class="topBack" href="/">返回</a>
    	</div>
    	<div class="centerTop">
    		<h1>信托金07第2期</h1>
    	</div>
    </div>    
</div>


<h1>Welcome home !</h1>
<nav>
    <ul>
        <li><a id="home" href="#home">Home</a></li>
        <li><a id="sample" href="#sample">Sample</a></li>
        <li><a href="#licai">Li cai</a></li>
        <li><a href="#licai/123">Li cai 1234</a></li>
    </ul>

</nav>

<div data-view="container" class="container">
</div>
