
    <div class="liters">
        <canvas id="yibiao"></canvas>
        <div class="timeEnd"><img src="../wap_images/licai/shijian.png" width="13"><span class="red">14:40:47</span> 后结束</div>
        <div class="baifen"><span class="paresent" id="preview-textfield">12</span> %</div>
        <div class="text">期限 <span class="red">90</span> 天</div>
        <div class="huigou"><img src="../wap_images/licai/anquan.png" width="13">第三方承诺<span class="red">全额回购</span></div>
    </div>
    <div class="contentText">
        <ul class="titleList c">
            <li><img src="../wap_images/licai/icon1.png"  width="36" /><br>本息保障</li>
            <li><img src="../wap_images/licai/icon2.png"  width="36" /><br>高额收益</li></li>
            <li><img src="../wap_images/licai/icon3.png"  width="36" /><br>灵活购买</li></li>
            <li><img src="../wap_images/licai/icon4.png"  width="36" /><br>投资0费用</li></li>
        </ul>
        <ul class="listCon">
            <li><span>起投金额：</span>100元</li>
            <li><span>投资总额：</span>500,000.00元</li>
            <li><span>起售时间：</span>2015-06-27 17:00</li>
            <li><span>产品起息日：</span>2015-06-28</li>
            <li><span>产品到期日：</span>2015-07-04</li>
            <li><span>收益到账日：</span>2015-07-05</li>
            <li><span>还款方式： </span>一次性还本付息</li>
            <li><span>费用说明：</span>投资全流程零费用</li>
        </ul>
    </div>
    <div class="xiangmulist">
        <div class="tabC">
            <div class="tabTitle">项目介绍</div>
            <div class="tabTitle">安全保障</div>
            <div class="tabTitle">投标记录</div>
            <div class="tabTitle">相关资料</div>
        </div>
        <div class="tabShow">
            <div class="tabList">
                <div class="anquanList">
                    <ul>
                        <li class="onShow">
                            <h2>产品介绍 <span class="jiantou"></span></h2>
                            <div class="content" style="display:block;">
                                <p>信托金是一款通过将信托受益权质押形成的债权进行拆分转让出售的互联网金融创新产品，让普通投资者也能享受到百万级信托产品的低风险高收益的投资回报。</p>
                            </div>
                        </li>
                        <li>
                            <h2>标的资产 <span class="jiantou"></span></h2>
                            <div class="content">
                                <p>1. 信托金标的资产为优质信托质押形成的债权;</p>
                                <p>2. 债权的质押物为方正东亚-神龙系列证券投资集合资金信托计划的夹层受益权；</p>
                                <p>3. 信托持有人拥有该信托计划夹层的固定收益，还款来源有保障。</p>
                            </div>
                        </li>
                        <li>
                            <h2>债权转让方 <span class="jiantou"></span></h2>
                            <div class="content">
                                <p>杭州流鑫实业有限公司，注册资金一亿六千八百万元，主要从事于百货、钢材、金属材料的销售和货物进出口业务，与信托计划持有人签订质押借款合同从而获得债权。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabList">
                <div class="anquanList">
                    <ul>
                        <li class="onShow">
                            <h2>资金安全 <span class="jiantou"></span></h2>
                            <div class="content" style="display:block;">
                                <p>1. 委托第三方支付平台独立监管投资人投入账户资金；</p>
                                <p>2. 资金只能转出到认证及绑定过的银行账户，用户可以实时查询到资金账户的详情；</p>
                                <p>3. 内部严格的资金管理流程和完善安全的系统。</p>
                            </div>
                        </li>
                        <li>
                            <h2>全额承诺回购 <span class="jiantou"></span></h2>
                            <div class="content">
                                <p>浙江互音实业有限公司资本实力雄厚，注册资金一亿七千万元，承担信托金系列产品的连带回购责任，回购范围不限于债权受让款、收益、逾期利息（如有）或违约金（如有），责任期限2年，通过承诺全额回购最大限度维护投资人的权益。</p>
                            </div>
                        </li>
                        <li>
                            <h2>点金专业风控 <span class="jiantou"></span></h2>
                            <div class="content">
                                <p>点金风控团队由具有六年以上信托公司和证券公司风控经验的专业人才组成，拥有优秀金融安全风险控制背景，为您精挑细选最为优质的信托计划，从而保障信托金产品的本息兑付。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tabList pt10">
                <table width="98%" style="text-align:center;">
                    <tbody><tr>
                        <th width="15%">购买人</th>
                        <th width="13%">申购金额</th>
                        <th width="23%">申购时间</th>
                    </tr>
                    </tbody>
                    <tbody id="listBox">
                        <tr>
                            <td>150****1060</td>
                            <td><b class="red">50000</b> <span class="f12">元</span></td>
                            <td>2015-07-01 15:54:26</td>
                        </tr>

                        <tr>
                            <td>181****2586</td>
                            <td><b class="red">5000</b> <span class="f12">元</span></td>
                            <td>2015-07-01 12:24:18</td>
                        </tr>

                        <tr>
                            <td>158****3682</td>
                            <td><b class="red">1000</b> <span class="f12">元</span></td>
                            <td>2015-07-01 11:29:59</td>
                        </tr>

                        <tr>
                            <td>185****7799</td>
                            <td><b class="red">2000</b> <span class="f12">元</span></td>
                            <td>2015-07-01 11:26:40</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabList">
                <div class="imginset"></div>
            </div>
        </div>
    </div>
    <div class="touzi">
        <a href="#">立即投资</a>
    </div>
